/* general styling */
:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: #ffd54f;
  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

#headline {
  padding: 0 50px;
  margin-bottom: 50px;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

#bad_bunny_logo {
  position: relative;
  filter: drop-shadow(20px 5px 2px #000);
  margin: 50px 0;
  width: 300px;
  animation: floating 8s infinite linear;
}

.my_link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 25px;
}

.my_link a {
  text-decoration: none;
}

@keyframes floating {
  0% {
    transform: rotate(0deg);
    /* filter: drop-shadow(30px 25px 15px #000); */
  }
  50% {
    transform: rotate(180deg);
    /* filter: drop-shadow(-30px 25px 15px #000); */
  }
  100% {
    transform: rotate(360deg);
    /* filter: drop-shadow(30px 25px 15px #000);   */
  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
  #bad_bunny_logo {
    width: 250px;
  }
}